/* General */
* {
    box-sizing: border-box; /*Para que las cajas no se solapen*/
}

.container {
    border: 2px solid gray;
    padding: 10px;
}

/* Header */
header {
    margin-bottom: 20px;
}
.top-banner {
    position: relative; 
 }
 
 .top-banner form {
     position: absolute;
     right: 10px;
     top: 50%;
     margin-top: -17px;
 }

 /* aside */
.news > a, .news span { /*enlace de hijo directo para que coja solo los 
                        3 <a> de abajo, luego selecciono el span*/
    display: block; /*Para que aparezca como bloque y no se junten lineas*/
}

 aside {
     float:left;
     width: 25%;
}

/* Contenido central */
section {
    float: right;
    width: 73%; /*Para dejar el espacio en medio, 25% ocupa news y 73% la otra caja*/
}

.main-content{
    float: left;
    width: 75%;
}

.main-content img {
    float: left;
    margin-right: 20px;
}

.side-content {
    float: right;
    width: 24%;
}

.clear {
    clear: both; /* Con esto limpia todo lo anterior*/
}

/* Footer*/
footer {
    margin-top: 20px;
}

footer span {
    float:right;
}