/* Iconos / icons */

.menu-icon{
    color: mediumblue;
}

.side-icon {
    color: red;
}

/* Degradados o Gradientes de color */
[class^="gradient"] {
    height: 200px;
    margin-bottom: 10px;
}

.gradient-1 {
    background: linear-gradient(to right, darkblue, white);
                                /*to right, to left, to bottom...*/
}

.gradient-2 {
    background: linear-gradient(to bottom, white, darkblue, white);
}

.gradient-3 {
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)), url(malaga.jpeg);
                                                /*el cuarto valor era la opcaidad, va de 0 a 1*/
    background-size: cover; /* para que cubra toda la imagen*/
                                            }

.gradient-4 {
    background: radial-gradient(white, blue, red);
    width: 50%;
    box-shadow: 5px 5px 15px black; 
                /*para dar sombramueve horizontal, mueve vertical, sombreado y color*/
}