/* Las pseudo clases son estados y propiedades que pueden 
tener los elementos, hover, active... */

/* No existen de forma individual en HTML, son los pseudo
elementos, ::first-letter, ::first-line, ::first-line... */

p::first-letter { 
    font-size: 3em;
    color: red;
}


/* Media queries */
.responsive {
    height: 100px;
    background-color: aquamarine;
    width: 30%;
}

/* Tablet */
@media only screen and (max-width: 920px) {
    .responsive {
        width: 50%;
    }
}

/* Mobile */
@media only screen and (max-width: 700px) {
    .responsive {
        width: 1000%;
    }
}